
***************************************************************

Server Local IP: {{ansible_facts['default_ipv4']['address']}}
Hostname: {{ ansible_hostname }}
OS: {{ ansible_distribution }} {{ ansible_distribution_version }}

***************************************************************
